*{
	box-sizing: border-box;
}
body{
	font-family: arial;
}
.container{
	width: 1100px;
	
	background-color: purple;
	padding: 20px;
	text-align: center;


}
.item-price:hover {
	transform: scale(1.1);
}

.item-price:hover .cabezera{
	background-color: black;
	color: white;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.item-price:hover .price{

background-color: orange;
color: white;
}

.item-price:hover .btn{
	background-color: orange;
	border-color: orange;
	color: white;
}
.item-price{
	background-color: white;
	width: 230px;
	border-radius: 15px;
	padding-bottom: 30px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	transition: all 0.4s linear;
}

.cabezera{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}
.cabezera h2{
	font-size: 30px;
}

.price{
	background-color: black;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.bold{
	font-weight: bold;
}

.lista{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.lista li{
	padding-top: 10px;
	padding-bottom: 10px;
}
.over-btn{
	
	text-align: center;
}

.btn{
	display: inline-block;
	color: black;
	text-decoration: none;

	/*padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;*/

	padding: 8px 20px;
	border:2px solid black;
	font-size: 15px;
	border-radius: 10px;
	text-transform: uppercase;
}


