.box1{
	width: 100px;
	height: 100px;
	background-color: red;
}
.box2{
	width: 100px;
	height: 100px;
	background-color: blue;
	position: relative;
	left: 50px;
	top: 100px;
}
.box3{
	width: 100px;
	height: 100px;
	background-color: orange;
}