/** tag **/

h1{
	/** propiedades que quiero que afecten a mi etiqueta **/
	color: red;
}

small{
	color: blue;
}

/** class **/

.parrafo{
	color: orange;

}

.bold{
	font-weight: bold;
}
.altas{
	text-transform: uppercase;
	/*text-transform: lowercase;*/
	/*text-transform: capitalize;*/

}



/** ID **/
#parrafo1{
	color: skyblue;
}
