.caja{
	width: 600px;
	height: 400px;
	background-color: red;
	/*
		margin-left: 383px;
		margin-right: 383px;*/
	
	/*	margin:auto;

		margin-top:auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto; */
	/*margin:0 auto;
	
	margin-top:0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	*/
	margin-left: auto;
	margin-right: auto;
}
.item
{
	background-color: green;
	color: white;
	padding: 40px;
	display: inline-block;
}