.container{
		width: 970px;
		margin:0 auto;
		font-family: arial;
	}
	.header-site{
		background-color: black;


	}
	
	.nav-site ul li{
		display: inline-block;
		vertical-align: top;
	
		color: white;
		padding: 10px 20px;
	
	}


	.nav-site ul li:hover{
		background-color: red;
	}