.contenedor{
	width: 970px;
	
	background-color: black;
	margin:0 auto;
}
.item{
width: 450px;

background-color: skyblue;
float: left;
}
.clear{
	clear: both;
}
/*
telefono portrait 0-420
telefono landscape 420-768
tableta 768-1024 
desktop 1024 - más
*/

/*
0 - 500 verder
501-700 rojo
701 -970 amarillo
*/
@media screen and (min-width: 0px) and (max-width: 600px){
	/* 0px a 500px*/
	.contenedor{
		background-color: green;
		width: 100%;
	
	}
	.item{
		width: 100%;
		margin-bottom: 10px;
	}
	.img-principal{
		width: 100%;
	}

}
@media screen and (min-width: 601px) and (max-width: 768px){
	/* 0px a 500px*/
		.contenedor{
		background-color: red;
		width: 100%;
		
	}
	.item{
		width: 50%;
	}
	.img-principal{
		width: 100%;
	}

}
@media screen and (min-width: 769px) and (max-width: 970px){
	/* 0px a 500px*/
		.contenedor{
		background-color: yellow;
		width: 100%;
		
	}
	.item{
		width: 50%;
	}
	.img-principal{
		width: 100%;
	}
}
